{% extends 'base.html.twig' %}

{% block title %}Stockflow{% endblock %}

{% block main %}
 <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-12 col-lg-10 py-3">
        <div class="container-fluid">
          <div class="row gy-4">
            <h1 class="text-center fw-bold py-3 my-0 fs-2">RESEÑAS</h1>
            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary w-100">
                <img src="{{ asset("images/ressenyes/1.png") }}" class="card-img-top"
                  alt="Gerente de Logística trabajando con la aplicación desde una portátil">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "Nunca había visto una herramienta tan intuitiva. Mi equipo de almacén pasó de sentirse abrumado a
                    sentirse completamente empoderado en cuestión de días."
                  </p>
                  <p class="fst-italic">
                    - María Rodríguez, Gerente de Logística.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/2.png") }}" class="card-img-top"
                  alt="Director de Operaciones Logísticas utilizando la aplicación en un portátil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "La precisión de este software ha transformado completamente nuestra cadena de suministro. Hemos
                    eliminado casi por completo los errores de inventario y ahora podemos rastrear cada producto con un
                    simple clic."
                  </p>
                  <p class="fst-italic">
                    - Juan Pérez, Director de Operaciones Logísticas.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/3.png") }}" class="card-img-top"
                  alt="Gerente de operaciones utilizando la aplicación en un móvil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "La capacidad de gestionar múltiples almacenes simultáneamente ha sido un cambio de juego para
                    nuestra empresa. Todo centralizado, todo en tiempo real."
                  </p>
                  <p class="fst-italic">
                    - Daniel Sánchez, Gerente de Operaciones.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/4.png") }}" class="card-img-top"
                  alt="Analista de inventario trabajando con la aplicación desde un móvil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "El módulo de predicción de inventario es simplemente brillante. Nos ha ayudado a optimizar nuestros
                    stocks y reducir costos significativamente."
                  </p>
                  <p class="fst-italic">
                    - Sofía Torres, Analista de Inventarios.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/5.png") }}" class="card-img-top" alt="Gerente de TI utilizando la aplicación en una tablet.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "La seguridad de datos y los permisos personalizados nos dan total tranquilidad. Cada empleado ve
                    exactamente lo que necesita ver."
                  </p>
                  <p class="fst-italic">
                    - Eduardo Vega, Gerente de TI.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/6.png") }}" class="card-img-top"
                  alt="Coordinador de almacén utilizando la aplicación en una portátil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "La integración con nuestros sistemas existentes fue tan fluida que parecía magia. El retorno de
                    inversión ha sido increíble en solo tres meses de implementación."
                  </p>
                  <p class="fst-italic">
                    - Roberto González, Coordinador de Almacén.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/7.png") }}" class="card-img-top"
                  alt="Directora de Distribución utilizando la aplicación en una tablet.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "Implementamos el software y literalmente duplicamos nuestra capacidad de procesamiento de pedidos
                    sin
                    contratar más personal. Es una inversión inteligente."
                  </p>
                  <p class="fst-italic">
                    - Carmen Díaz, Directora de Distribución.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/8.png") }}" class="card-img-top"
                  alt="Directora Ejecutiva trabajando con la aplicación en una portátil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "No solo es un software de gestión, es un verdadero socio estratégico. Nos ha permitido crecer y
                    adaptarnos con una agilidad que nunca creímos posible."
                  </p>
                  <p class="fst-italic">
                    - Lucía Fernández, Directora Ejecutiva.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/9.png") }}" class="card-img-top"
                  alt="Gerente de logística en almacen utilizando la aplicación en un móvil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "Este software ha revolucionado nuestra manera de trabajar en el almacén. Antes era un
                    caos
                    encontrar productos, pero ahora todo está organizado y accesible desde cualquier
                    dispositivo."
                  </p>
                  <p class="fst-italic">
                    - Carlos M., Gerente de Logística.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/10.png") }}" class="card-img-top"
                  alt="Supervisora de almacen utilizando la aplicación en un móvil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "Nos encanta la facilidad de uso y cómo ha mejorado la productividad del equipo.
                    Ahora
                    completamos las órdenes de envío en la mitad del tiempo."
                  </p>
                  <p class="fst-italic">
                    - Marta G., Supervisora de Almacén.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/11.png") }}" class="card-img-top"
                  alt="Adjunto de logística utilizando al aplicación en un ordenador.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "La automatización de procesos nos ha permitido reducir los errores en un 90%. No
                    puedo imaginar volver a trabajar sin esta herramienta."
                  </p>
                  <p class="fst-italic">
                    - Juan M., Adjunto logística.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 d-flex">
              <div class="card bg-body-secondary">
                <img src="{{ asset("images/ressenyes/12.png") }}" class="card-img-top"
                  alt="Mujer responsable de inventario utilizando la aplicación en un móvil.">
                <div class="card-body">
                  <p class="card-title d-flex justify-content-around">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text fw-bold">
                    "El sistema de reportes es increíble. Nos da toda la información que necesitamos
                    para tomar decisiones más rápidas y acertadas sobre nuestro stock."
                  </p>
                  <p class="fst-italic">
                    - Ana S., Responsable de Inventario. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
{% endblock %}
