{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/blog.css') }}">
    {% endblock %}

    {% block title %}
        Blog
    {% endblock %}

    {% block main %}
    
    
        <div class="row container-fluid">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="container-fluid">
                    <!-- PRIMERA PARTE -->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="fw-bolder pb-5">
                                BLOG
                            </h3>
                        </div>
                    </div>
                    <div class="row pb-4">
                        {% for post in paginator.results %}
                            <div class="card col-md-6 rounded-4 px-0 shadow-lg mt-5 mt-sm-0" onclick="window.location.href='{{ path('app_info_post') }}'">
                                {{ include('blog/_post.html.twig') }}
                            </div>
                        {% else %}
                            <div class="jumbotron">
                                {{ 'post.no_posts_found'|trans }}
                            </div>
                        {% endfor %}

                    </div>

                </div>
                <div class="col-lg-1"></div>
            </div>
        {% endblock %}
        